.hints-wrapper {
  padding-left: 15px;
  /* background-color: pink; */
  border-left: 1px solid #a0a0a0;
}
.hints-header {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
  padding-left: 10px;
}
.hints-list {
  list-style-type: none;
}
.hits-item {
  background-color: #0e2954;
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}
